.daily-horoscope {
    width: 50vh;
    margin: auto;
    padding: 10px;
}

.wrapper {
    width: 10vh;
    margin: 2.6em auto;
}

.horoscope-img {
    background-size: cover;
    background-position: center;
    width: 10vh;
    height: 10vh;
    transform:scale(1.8);
}

#Capricorn {
    background-image: url("../../../public/images/Capricorn.png");
}

#Aquarius {
    background-image: url("../../../public/images/Aquarius.png");
}

#Pisces {
    background-image: url("../../../public/images/Pisces.png");
}

#Aries {
    background-image: url("../../../public/images/Aries.png");
}

#Taurus {
    background-image: url("../../../public/images/Taurus.png");
}

#Gemini {
    background-image: url("../../../public/images/Gemini.png");
}

#Cancer {
    background-image: url("../../../public/images/Cancer.png");
}

#Leo {
    background-image: url("../../../public/images/Leo.png");
}

#Virgo {
    background-image: url("../../../public/images/Virgo.png");
}

#Libra {
    background-image: url("../../../public/images/Libra.png");
}

#Scorpio {
    background-image: url("../../../public/images/Scorpio.png");
}

#Sagittarius {
    background-image: url("../../../public/images/Sagittarius.png");
}

.transformImage{
    transition-duration: 1s;
}