.favorites-card {
    height: 100%;
    display: grid;
    grid-template-columns: 1.6fr 3.5fr 3fr;
    grid-template-rows: 1fr;
    background-color: var(--white);
    border-radius: 2vmin;
  }
  .NewOrderPage aside {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 3vmin 2vmin;
    }

    
    .ProductDetails {
      flex-direction: column;
      justify-content: flex;
      align-items: center;
      padding: 3vmin 0vmin 3vmin 0vmin;
      font-size: 2vmin;
      color: var(--text-light);
    }
  
    .ProductDetails .section-heading {
      width: 75%;
      margin: 0 auto;
    }