.favorites {
    display: grid;
    grid-template-columns: 1.6fr 3.5fr;
  }

    
    .ProductDetails {
      flex-direction: column;
      justify-content: flex;
      align-items: center;
      padding: 3vmin 0vmin 3vmin 0vmin;
      font-size: 2vmin;

    }
  
    .ProductDetails .section-heading {
      width: 75%;
      margin: 0 auto;
    }